@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
*{ 
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}

body{
    background: linear-gradient(45deg, #ffffff,#fff, #3671BF, #3671BF);
}

.logo{
    font-size: 20px;
    font-weight: 700;
    float: left;
    margin-right: 40px;
    margin-top: 20px;
}

.nav-img{
    width: 30px;
    height: 30px;
    float: left;
    margin-top: 30px;
    margin-left: 15%;
}

.image{
    width: 60%;
    height: 50%;
    float: right;
}

.menu {
    float: right;
}

nav{
    width: auto;
    margin: auto;
    display:block;
    line-height: 50px;
    position: relative;
    position: -webkit-sticky;
    top:0%;
    background: #ffffff; 
}

nav ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

nav ul {
    float: left;

}
nav  a{
    color: black;
    font-weight: bold;
    text-align: center;
    padding: 0px 16px 0px 16px;
    text-decoration: none;
}
nav ul a:hover{
    text-decoration: underline;
    color: blue;
}

input {
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 100vh;
    padding: 10px;
    }

 .HeadText{
    justify-content: center;
    align-items: center;
    width: 70%;
    min-height: 100vh;
    margin: 150px auto;
 }
 h1{
    color: #123664;
    font-size: 20px;
    font-weight: 100;
 }

 h2{
    font-weight: 700;
    font-size: 35px;
    width: 100%;
    line-height: 50px;
    text-align: left;
 }

 h3{
    font-size: 15px;
    margin-bottom: 5px;
    width: 100%;
    line-height: 50px;
    text-align: justify;
    font-weight: 100;
 }

 a.tbl-biru{
    background: #27538C;
    border-radius: 30px;
    margin-top: 20px;
    padding: 15px 20px 15px 20px;
    color: #ffffff;
    cursor: pointer;
    font-weight: bold;
    text-decoration: none;
}

p{
    margin-top: 50px;
    padding: 10px 0px 10px 0px;
}

